version: "3.9"

services:
  psql:
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - /home/ncloud/postgresql/data:/var/lib/postgresql/data
    expose:
      - 5432

  redis:
    image: redis
    expose:
      - 6379

  egomoya:
    image: ghcr.io/gnlenfn/egomoya:latest
    ports:
      - "8080:8080"


secrets:
  psql_password:
    external: true