spring:
  application:
    name: hackathon

  data:
    redis:
      host: localhost
      port: 6379

  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DATABASE}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true # Set to true to show SQL queries in console
    database-platform: org.hibernate.dialect.PostgreSQLDialect


