name: CI/CD

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  backend-deploy:
    runs-on: ubuntu-latest
    steps:
      # SOURCE 단계 - 저장소 Checkout
      - name: Checkout-source code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      # Gradle 실행권한 부여
      - name: Grant execute permission to gradlew
        run: chmod +x ./gradlew

      # Spring boot application 빌드
      - name: Build with gradle
        run: ./gradlew clean build

      # GitHub Container Registry 로그인
      - name: Login GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GHCR_TOKEN}}

      # docker image build 퍼블리시
      - name: Push to Github Container Registry
        run: |
          docker build -t ghcr.io/gnlenfn/daisonminsoo:latest .
          docker push ghcr.io/gnlenfn/daisonminsoo:latest

      # WAS 인스턴스 접속 & 애플리케이션 실행
      - name: Connect to NCP & Execute Application
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.NCP_HOST }}
          username: ${{ secrets.NCP_USERNAME }}
          key: ${{ secrets.NCP_SSH_KEY }}
          port: ${{ secrets.NCP_SSH_PORT }}
          script: |
            docker stop $(docker ps -a -q) 
            docker rm $(docker ps -a -q) 
            docker pull ghcr.io/gnlenfn/daisonminsoo:latest
            docker run -d -p 8080:8080 --name backend ghcr.io/gnlenfn/daisonminsoo:latest
