name: CI/CD
env:
  DOCKER_REGISTRY: ghcr.io/gnlenfn/egomoya

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  build-app:
    runs-on: ubuntu-latest
    outputs:
      docker-image-tag: ${{ steps.set-output-docker-image-tag.outputs.OUTPUT_DOCKER_IMAGE_TAG }}
    steps:
      # SOURCE 단계 - 저장소 Checkout
      - name: Checkout-source code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: add application.properties
        run: |
          echo ${{secrets.APP_USERNAME}} >> src/main/resources/application.properties
          echo ${{secrets.APP_GMAIL_TOKEN}} >> src/main/resources/application.properties

      # Gradle 실행권한 부여
      - name: Grant execute permission to gradlew
        run: chmod +x ./gradlew

      # Spring boot application 빌드
      - name: Build with gradle
        run: |
          ./gradlew clean 
          ./gradlew build -x test
        

      - name: Set Seoul timezone
        uses: szenius/set-timezone@v1.2
        with:
          timezoneLinux: "Asia/Seoul"

      # GitHub Container Registry 로그인
      - name: Login GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GHCR_TOKEN}}

      - name: Create Docker Image Tag
        run: |
          echo "DOCKER_IMAGE_TAG=$(date +%Y%m%d-%H%M%S)_$GITHUB_RUN_NUMBER" >> $GITHUB_ENV

      # docker image build & push
      - name: Build Docker image
        run: |
          docker build -t $DOCKER_REGISTRY:latest .      

      - name: Push to Github Container Registry
        run: |
          docker push $DOCKER_REGISTRY:latest

  deploy-ncp:
    runs-on: ubuntu-latest
    needs: [ build-app ]
    steps:
    - uses: actions/checkout@v2

    - uses: alex-ac/github-action-ssh-docker-compose@master
      name: Docker-Compose Remote Deployment
      with:
        ssh_host: ${{ secrets.NCP_HOST }}
        ssh_private_key: ${{ secrets.NCP_SSH_KEY }}
        ssh_user: ${{ secrets.NCP_USERNAME }}
        ssh_port: ${{ secrets.NCP_SSH_PORT }}
